/* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: green;
    display: flex;
    align-items: center;
  }
  
  .logo-highlight {
    color: orange;
  }
  
  .search-container {
    position: relative;
    width: 33%;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    padding: 8px 12px 8px 36px;
    border: 1px solid #ccc;
    border-radius: 8px 0px 0px 8px;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
  }
  
  .search-results {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 264px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    height:200px;
    overflow: auto;

  }
  
  .search-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .search-item:hover {
    background-color: #f5f5f5;
  }
  
  .no-results {
    padding: 10px;
    color: gray;
  }
  
  .menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    cursor: pointer;
  }
  
  .icon {
    color: black;
  }
  
  .badge {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 50%;
  }
  .badge-whish{
    top:-11px;
    right:52px;
  }
    
  .badge-shop{
    top:-11px;
    right:27px;
  }
.logopng{
    width: 100px;
    height:35px;
}  
.div-icon{
    width: 50px;
    height: 34px;
    background: #eb9a0b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    width: 100%;
    margin: 10px 0;
  }

  .menu {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .search-input {
    font-size: 14px;
  }

  .menu-item span {
     
  }
}